@model CapaEntidad.entProducto

@{
    ViewBag.Title = "InsertarProducto";
}

<h2>InsertarProducto</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>entProducto</legend>

    @*div class="editor-label">
            @Html.LabelFor(model => model.idProducto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idProducto)
            @Html.ValidationMessageFor(model => model.idProducto)
        </div>*@

    <div class="editor-label">
        @Html.LabelFor(model => model.desProducto)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.desProducto)
        @Html.ValidationMessageFor(model => model.desProducto)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.preProducto)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.preProducto)
        @Html.ValidationMessageFor(model => model.preProducto)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.imgProducto)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.imgProducto)
        @Html.ValidationMessageFor(model => model.imgProducto)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.stkProducto)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.stkProducto)
        @Html.ValidationMessageFor(model => model.stkProducto)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.fcrProducto)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.fcrProducto)
        @Html.ValidationMessageFor(model => model.fcrProducto)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.estProducto)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.estProducto)
        @Html.ValidationMessageFor(model => model.estProducto)
    </div>
    <div>

        <label for="color"> Color </label>
        <select class="form-control" id="Color" name="Color">
            @{
                foreach (var color in ViewBag.listac)
                {
                    <option value="@color.idColor">@color.desColor</option>
                }
            }

        </select>

    </div>
    <div>
        <label for="material"> Materia Prima </label>
        <select class="form-control" id="material" name="MatPrima">
            @{
                foreach (var material in ViewBag.listam)
                {
                    <option value="@material.idMaterial">@material.desMaterial</option>
                }
            }

        </select>
</div>

    <div>
        <label for="TipProducto"> Tipo Producto </label>
        <select class="form-control" id="TipProducto" name="tipoProducto">
            @{
                foreach (var producto in ViewBag.listatp)
                {
                    <option value="@producto.idTipoProducto">@producto.desTipoProducto</option>
                            }
            }

        </select>
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}

<div>
    @Html.ActionLink("Listado", "listarProducto")
</div>
