@using CapaEntidad


@{
    entUsuario us = (entUsuario)Session["usuario"];
    ViewBag.Title = "Bienvenido Administrador " + us.idCliente.nombreCliente;
    ViewBag.image = "/Contents/images/security.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MenuIntranet</h2>
<div>
    <p>Bienvenido: @ViewBag.usuario</p>
    <br />
    Bienvendio:
    @{
        entUsuario u = (entUsuario)Session["usuario"];
    }
    @u.idCliente.nombreCliente
    @u.nomUsuario
    @u.idCliente.apellidoCliente
    <br />
    <a href="@Url.Action("ListarCliente","MantenedorCliente")"> Mantenedor de Clientes</a>
</div>