@model IEnumerable<CapaEntidad.entTipoProducto>

@{
    ViewBag.Title = "listarTipoProducto";
}

<h2>listarTipoProducto</h2>

<p>
    @Html.ActionLink("Nuevo", "InsertarTipoProducto", "MantenedorTipoProducto")
</p>


<form method="get" action="InsertarTipoProducto">
    <input type="button" onclick="location.href='@Url.Action("InsertarTipoProducto", "MantenedorTipoProducto")';" value="Nuevo" />
</form>

<table class="">
    <thead>
        <tr>
            <th> Codigo       </th>
            <th> Descripcion  </th>
            <th> Estado       </th>
        </tr>
    </thead>
@foreach (var entTipoProducto in Model)
{
   <tr>
       <td> @entTipoProducto.idTipoProducto </td>
       <td> @entTipoProducto.desTipoProducto </td>
       <td> @entTipoProducto.esTipoProducto </td>
       <td>
            @Html.ActionLink("Editar", "EditarTipoProducto", new { idTipoProducto = @entTipoProducto.idTipoProducto })                                                
            @Html.ActionLink("Anular", "EliminarTipoProducto", new { idTipoProducto = @entTipoProducto.idTipoProducto })

       </td>
   </tr> 
}
</table>
@*
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idTipoProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desTipoProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.esTipoProducto)
        </th>
        <th></th>
    </tr>

    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desTipoProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.esTipoProducto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

        </td>
    </tr>
}
   
</table>*@
