@model CapaEntidad.entPersona

@{
    ViewBag.Title = "Insertar Persona";
    ViewBag.image = "/Contents/images/security.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
}
<div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
    <form action="#" method="post" class="bg-white p-md-5 p-4 mb-5 border">
        <fieldset>
            <legend>Agrega una Nueva Persona</legend>


            <div class="editor-label">
                Nombres y Apellidos
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.nombreyApellidoPersona, new { htmlAttributes = new { @class = "form-control", required = true, placeholder = "Nombre del Cliente", @id = "validationDefault01", type = "text" } })
                @Html.ValidationMessageFor(model => model.nombreyApellidoPersona)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DNI)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control", required = true, maxlength = 8, placeholder = "Dni del Cliente", @id = "validationDefault03", @type = "number" } })
                @Html.ValidationMessageFor(model => model.DNI)
            </div>

            <div class="editor-label">
                Telefono
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", maxlength = 8, required = true, placeholder = "Telefono del Cliente", @id = "validationDefault04", @type = "number" } })
                @Html.ValidationMessageFor(model => model.telefono)
            </div>

            <div class="editor-label">
                Activar
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.estPersona, new { htmlAttributes = new { required = true, @id = "invalidCheck2", @type = "checkbox" } })
                @Html.ValidationMessageFor(model => model.estPersona)
            </div>


            <div class="form-group">
                Tipo de Persona:
                <div class="col-md-10">
                    @Html.DropDownList("cboTipoPersona", (SelectList)ViewBag.listaTipoPersona, "<seleccionar>")
                </div>
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    </form>    
</div>


<div>
    @Html.ActionLink("Volver a la Pagina Anteriort", "Index")
</div>
