@model IEnumerable<CapaEntidad.entCliente>

@{
    ViewBag.Title = "Listar Clientes";
    ViewBag.image = "/Contents/images/security.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Nuevo Cliente", "InsertarCliente")
</p>
<table class="table">

    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Dni</th>
            <th scope="col">Telefono</th>
            <th scope="col">Estado</th>
            <th scope="col">Tipo</th>
            <th scope="col"></th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.idCliente)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTipoCliente.desTipoCliente)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditarCliente", new { idCliente = @item.idCliente }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>

</table>
