@model IEnumerable<CapaEntidad.entCliente>

@{
    ViewBag.Title = "Gestionar Clientes del Hotel";
    ViewBag.image = "/Contents/images/security.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-4" id="next">Lista de Clientes del Hotel</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "InsertarCliente")
</p>
<table class="table sortable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombres y Apellidos</th>
            <th scope="col">Dni</th>
            <th scope="col">Telefono</th>
            <th scope="col">Estado</th>
            <th scope="col">Tipo</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idPersona.idPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idPersona.nombreyApellidoPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idPersona.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idPersona.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idPersona.estPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idPersona.idTipoPersona.idTipoPersona)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditarCliente", new { idCliente = @item.idCliente }) |
                    @Html.ActionLink("Delete", "EliminarCliente", new { idCliente = @item.idCliente })

                    @*@Html.ActionLink("Edit", "Edit", new { / id=item.PrimaryKey / }) |
                        @Html.ActionLink("Details", "Details", new { / id=item.PrimaryKey / }) |
                        @Html.ActionLink("Delete", "Delete", new { / id=item.PrimaryKey / })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index","MenuIntranet")">
    <h4>Volver al Panel de Gestion</h4>
</a>

@Scripts.Render("~/bundles/OrdenarTablas")